* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #080808;
    color: #fff;
}

/* Header Section */
#header {
    width: 100%;
    height: 100vh;
    background-image: url("../images/background.png");
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.logo {
    width: 140px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

nav ul li {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    margin: 10px 20px;
}

nav ul li a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    position: relative;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #0ef;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
}

.header-text #first-line {
    opacity: 0;
    animation: slideBottom .5s ease forwards;
    animation-delay: .7s;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 60px;
    opacity: 0;
    animation: slideRight .5s ease forwards;
    animation-delay: 1s;
}

.header-text h1 #first-name {
    color: #0ef;
}

.header-text h3 {
    font-size: 40px;
    margin-top: 20px;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: .7s;
}

.header-text h3 span {
    color: #0ef;
}

.header-text #second-line {
    font-size: 20px;
    margin-top: 30px;
    opacity: 0;
    animation: slideLeft 0.6s ease forwards;
    animation-delay: 1s;
}

/* About Section */
#about {
    margin-top: 100px;
    padding: 80px 0;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.about-col-2 .about-me-text {
    font-size: 20px;
    text-align: justify;
    margin-top: 30px;
    line-height: 180%;
}

.tab-titles {
    display: flex;
    margin: 40px 0;
}

.tab-links {
    margin-right: 50px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    positiom: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: .5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
    line-height: 180%;
}

.tab-contents ul li span {
    color: #0ef;
    font-size: 18px;
}